* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #333333;

}

div.qrCodeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
}

canvas#qrCode {
    background-color: white;
}

@media (width < 600px){
    canvas#qrCode {
        width: 290px;
    }
}