* {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

div#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100vw;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

div#h1Container {
    display: flex;
    gap: 10px;
}

input#urlInput {
    width: 300px;
    height: 25px;
}

button#urlInput {
    width: auto;
    height: 30px;
}

h1#title {
    background-color: black;
    color: white;
}

div.qrCodeContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

canvas#qrCode {
    background-color: white;
}

@media (width < 750px){
    canvas#qrCode {
        width: 330px;
    }
    div#h1Container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    h1#title {
        font-size: 28px;
    }
}