* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}

div#wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    width: 100vw;
    height: 100vh;
    background-color: #333333;
}

h1 {
    color: white;
}

table {
    border: 5px solid black;
    border-collapse: collapse;
}

tr:nth-child(3n){
    border-bottom: 5px solid black;
}

tr:last-child {
    border-bottom: none;
}

td {
    color: black;
    width: 60px;
    height: 60px;
    text-align: center;
    border: 3px solid black;
}

td:nth-child(3n) {
    border-right: 5px solid black;
}

td:last-child {
    border-right: none;
}

div#inputContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

div#input {
    width: 60px;
    height: 60px;
    text-align: center;
    align-content: center;
}

.box {
    background-color: white;
    font-size: 2em;
}

.box:hover {
    background-color: #8b0000;
    color: white;
    cursor: pointer;
}

.box:active {
    background-color: #ff5555;
}

@media (width < 600px)
{
   td {
    width: 40px;
    height: 40px;
   }

   div#inputContainer {
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
}

div#input {
    width: 40px;
    height: 40px;
}
}